.body {
    width: 100%;
    height: 100%;
}

.container {
    background-color: pink;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.box {
    max-width: 100%;
    height: 100%;
    border-top: 20px solid black;
    border-left: 20px solid blue;
    border-right: 20px solid yellow;
    border-bottom: 20px solid green;
    margin: 5px;
    background-color: red;
}